colour-science==0.4.6 ; python_version >= "3.12" and python_version < "3.14"
contourpy==1.3.2 ; python_version >= "3.12" and python_version < "3.14"
cycler==0.12.1 ; python_version >= "3.12" and python_version < "3.14"
fonttools==4.58.0 ; python_version >= "3.12" and python_version < "3.14"
imageio==2.37.0 ; python_version >= "3.12" and python_version < "3.14"
kiwisolver==1.4.8 ; python_version >= "3.12" and python_version < "3.14"
matplotlib==3.10.3 ; python_version >= "3.12" and python_version < "3.14"
numpy==2.2.6 ; python_version >= "3.12" and python_version < "3.14"
packaging==25.0 ; python_version >= "3.12" and python_version < "3.14"
pillow==11.2.1 ; python_version >= "3.12" and python_version < "3.14"
pyparsing==3.2.3 ; python_version >= "3.12" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.14"
scipy==1.15.3 ; python_version >= "3.12" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.12" and python_version < "3.14"
typing-extensions==4.13.2 ; python_version >= "3.12" and python_version < "3.14"
